.detailBox {
  background-color: rebeccapurple;
  color: white;
  width: 650px;
}
.closeDetail {
  display: flex;
  justify-content: space-between;
}
.closeDetail button {
  width: 50px;
  background-color: brown;
  border: none;
}
.darkmode{
  color: white;
  background-color: #150050;
}
.darkmode .detailBox  {
  color: white;
  background-color: #150050;
}
.download{    
  margin-top: 10px;
}